parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - bitrix/*
        - vendor/*
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

