parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - bitrix/*
        - vendor/*
    scanDirectories:
        - bitrix/modules
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    treatPhpDocTypesAsCertain: false

